@font-face {
    font-family: 'Raleway';
    src: url('Raleway-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* css variables */
:root {
    /* Color */
    --menuBackground: #333;
    --menuFontColor: #FBEBF8;
    --menuHoverColor: var(--secundary_color_light);
    --menuHoverFontColor: #041a1f;
    --background: rgb(188, 185, 230);
    --secundary_color_light: #EA81C1;
    --secundary_color_dark: #80265D;
    --border_dark: 5px solid #80265D;
    --border_radius: 25px;
    --border_radius_square: 5px;
    --standardWidth: 75%;
    --font-family: 'Raleway', Arial, sans-serif;
    --secundary_font: 'Myriad Pro', Arial, sans-serif;
    --font_color_light: #EA81C1;
    --font_color_dark: #333;
}

h2 {
    font-size: 2em;
    font-weight: bold;
}

.bold {
    font-weight: bold;
    margin-top: 1em;
    color: var(--menuHoverFontColor);
}

.notBold {
    font-weight: 0;
}


html {
    color: var(--font_color_dark);
    background-color: var(--background);
    background-image: url(../img/dance.svg);
    background-repeat: no-repeat;
    background-position: center;
    font-family: var(--font-family);
    height: 100%;
    text-align: center;
    width: 100%;
    font-weight: 200;
    /* overflow: hidden; */
}


h1 {
    font-size: 2em;
}

.flexcontainer {
    display: flex;
    flex-wrap: wrap;
}

b {
    font-weight: bold;
}

/* ________________________________________________________________________________________
Navigation - menu
-----------------------------------------------------------------------------------------*/


/* Styling of the menu button */
.nav-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: var(--menuBackground);
    text-align: center;
    /* border: 5px solid var(--menuFontColor); */


}

.nav-menu li a,
.nav-menu li {
    display: block;
    padding: 20px;
    text-decoration: none;
    color: var(--menuFontColor);
    font-family: var(--font-family);
    font-size: 18px;
}

.nav-menu li a:hover,
.nav-menu li:hover,
.nav-menu .menu-btn:hover {
    cursor: pointer;
    background-color: var(--menuHoverColor);
    color: var(--menuHoverFontColor);
}


/* menu */
.nav-menu .menu {
    clear: both;
    max-height: 0px;
    transition: max-height .2s ease-out;
}

/* menu icon */
.nav-menu .menu-icon {
    cursor: pointer;
    display: block;
    float: right;
    padding: 28px 20px;
    position: relative;
}

.nav-menu .navicon {
    background: var(--menuBackground);
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}

.nav-menu .navicon:before,
.nav-menu .navicon:after {
    background: var(--menuBackground);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.nav-menu .navicon:before {
    top: 5px;
}

.nav-menu .navicon:after {
    top: -5px;
}


/* .nav-menu .navicon:before~.menu ul,
.nav-menu .navicon:after~.menu ul {
    border: none;
} */

/* menu btn - how the three lines changes into an x*/
.nav-menu .menu-btn {
    display: none;
}

.nav-menu .menu-btn:checked~.menu {
    max-height: 540px;
}

.nav-menu .menu-btn:checked~.menu-icon .navicon {
    background: transparent;
}

.nav-menu .menu-btn:checked~.menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.nav-menu .menu-btn:checked~.menu-icon .navicon:after {
    transform: rotate(45deg);
}

.nav-menu .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
.nav-menu .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
    top: 0;
}


/* ________________________________________________________________________________________
Buttons
-----------------------------------------------------------------------------------------*/
.bigBtn {
    text-align: center;
}

.btn {
    border-radius: var(--border_radius);
    border: var(--border_dark);
    background: var(--secundary_color_dark);
    color: var(--menuFontColor);
    width: auto;
    margin: 1.5em auto 1em;
    height: auto;
    font-size: 1em;
    padding: .5em 1em;

    cursor: pointer;
}


.collectionOfItems {
    background: var(--secundary_color_light);
    width: var(--standardWidth);
    padding: 1em;
    border-radius: var(--border_radius);
    cursor: pointer;
    margin: 2em auto;
}

#home {
    display: block;
    margin: auto;
    position: absolute;
    top: 25%;
}

#warning {
    opacity: 80%;
    width: var(--standardWidth);
}


.page {
    display: none;
    /*min heigh is screen heigh minus height of tab and top bar */
    min-height: calc(100vh - 110px);
    background: var(--light-grey);
    animation: fadeIn 0.4s;
    /* padding equals height of tabbar and topbar */
    padding: 55px 0;
}

/* ---------- animations ---------- */
/* fade in */
@keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* ________________________________________________________________________________________
Input fields and select boxes
-----------------------------------------------------------------------------------------*/
.inputfield {
    width: var(--standardWidth);
    padding: 1em;
    margin: .5em auto;
    display: block;
    background: var(--secundary_color_dark);
    color: var(--menuFontColor);
    border-radius: var(--border_radius_square);
    border: var(--border_dark);
    font-size: 1em;
}


/* ---------- loader styling ---------- */
#loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999999999;
    overflow: hidden;
    background: var(--loader-background-color);
    text-align: center;
}

.spinner {
    border: 5px solid var(--light-grey);
    border-radius: 50%;
    border-top: 5px solid var(--light-green);
    width: 50px;
    height: 50px;
    -webkit-animation: spin 1s linear infinite;
    /* Safari */
    animation: spin 1s linear infinite;
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.hide {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.4s, opacity 0.4s linear;
}


/* ---------- authentication styling ---------- */
#firebaseui-auth-container {
    position: absolute;
    top: 50%;
    width: 100%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.firebaseui-container {
    font-family: var(--font-family);
    font: 16px var(--font-family);
}

.firebaseui-title {
    text-align: center;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.mdl-button--raised.mdl-button--colored,
.mdl-button--raised.mdl-button--colored:active,
.mdl-button--raised.mdl-button--colored:hover {
    background: var(--green);
    color: #fff;
    border-radius: 0;
}

.firebaseui-textfield.mdl-textfield .firebaseui-label::after {
    background-color: var(--green);
}

/* ________________________________________________________________________________________
liste
-----------------------------------------------------------------------------------------*/
ul {
    text-align: left;
}

/* ________________________________________________________________________________________
Pages
-----------------------------------------------------------------------------------------*/
#appendUserQuestions {
    margin: 2%;
}

#addedQuestionsArticle {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100vh;
    /* bottom: 0; */

    background-color: var(--secundary_color_light);
}

[for=addedQuestions] {
    position: absolute;
    z-index: 5;
    right: 2em;
}

/* -----siden med indstillinger*/

#myText {
    border-radius: 10, 10, 10, 10;
    box-shadow: 4px 4px 2px 1px rgba(144, 137, 137, .2);
}


html,
body {
    height: 100%;
}

.b {
    display: block;
}

.toggle {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 120px;
    height: 40px;
    border-radius: 100px;
    background-color: #ddd;
    margin: -20px -40px;
    overflow: hidden;
    box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, .05);
}

.check {
    position: absolute;
    display: block;
    cursor: pointer;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 6;
}

.check:checked~.track {
    box-shadow: inset 0 0 0 20px #4bd863;
}

.check:checked~.switch {
    right: 2px;
    left: 22px;
    transition: .35s cubic-bezier(0.785, 0.135, 0.150, 0.860);
    transition-property: left, right;
    transition-delay: .05s, 0s;
}

.switch {
    position: absolute;
    left: 2px;
    top: 2px;
    bottom: 2px;
    right: 22px;
    background-color: #fff;
    border-radius: 36px;
    z-index: 1;
    transition: .35s cubic-bezier(0.785, 0.135, 0.150, 0.860);
    transition-property: left, right;
    transition-delay: 0s, .05s;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
}

.track {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    transition: .35s cubic-bezier(0.785, 0.135, 0.150, 0.860);
    box-shadow: inset 0 0 0 2px rgba(0, 0, 0, .05);
    border-radius: 40px;
}


/* slider med Antal runder */

.slidecontainer {
    width: 30%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 23px;
    height: 24px;
    border: 0;
    background: url('contrasticon.png');
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 23px;
    height: 24px;
    border: 0;
    background: url('contrasticon.png');
    cursor: pointer;
}


/* ________________________________________________________________________________________
Checkbox
-----------------------------------------------------------------------------------------*/

.label {
    display: block;
}

.checkbox {
    display: none;
}

.checkboxNotCheked {
    box-shadow: 0px 10px 14px -7px #276873;
    background: var(--font_color_light);
    border: 1px solid #cacece;
    color: #ffffff;
    padding: 1.2em .3em;
    border-radius: var(--border_radius_square);
    display: block;
    width: var(--standardWidth);
    margin: 0 auto;

}


.checkboxChecked {
    box-shadow: 0px 10px 14px -7px var(--secundary_color_dark);
    background: var(--secundary_color_dark);
    border: 1px solid #cacece;
    border-radius: var(--border_radius_square);
    width: var(--standardWidth);
    margin: 0 auto;
    /* box-shadow: --; */
}

#numberOfRoundsAdded {
    background: var(--secundary_color_dark);
    border-radius: var(--border_radius);
    color: var(--menuFontColor);
    /* width: 1em; */
    /* transition-property: width;
    transition-duration: 2s;
    transition-timing-function: linear;
    transition-delay: 1s; */
}

/* .highlightTransition {
    width: 4em;
}

#numberOfRoundsAdded {
    margin: 30px;
    height: 50px;
    width: 50px;
    background-color: blue;
} */

#numberOfRoundsAdded {
    /* -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s; */
    animation: addContentNumberHighlight 0.5s 1;
    animation-timing-function: ease-in-out;
    /* IE 10+, Fx 29+ */
    /* margin-left: 50% !important; */
    /* background-color: var(--secundary_color_light); */
}

@keyframes addContentNumberHighlight {
    0% {

        background-color: var(--secundary_color_light);
    }

    50% {
        background-color: yellow;
        color: var(--secundary_color_dark);
    }

    100% {
        background-color: var(--secundary_color_light);
    }
}