@font-face {
    font-family: 'Raleway';
    src: url('Raleway-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* css variables */
:root {
    /* Color */
    --menuBackground: #333;
    --menuFontColor: #FBEBF8;
    --menuHoverColor: var(--secundary_color_light);
    --menuHoverFontColor: #041a1f;
    --background: rgb(188, 185, 230);
    --secundary_color_light: #EA81C1;
    --secundary_color_dark: #80265D;
    --border_dark: 5px solid #80265D;
    --border_radius: 25px;
    --border_radius_square: 5px;
    --standardWidth: 75%;
    --font-family: 'Raleway', Arial, sans-serif;
    --secundary_font: 'Myriad Pro', Arial, sans-serif;
    --font_color_light: #EA81C1;
    --font_color_dark: #333;

}


.bold {
    font-weight: bold;
    margin-top: 1em;
    color: var(--menuHoverFontColor);
}

.notBold {
    font-weight: 0;
}


html {
    color: var(--font_color_dark);
    background-color: var(--background);
    background-image: url(../img/dance.svg);
    background-repeat: no-repeat;
    background-position: center;
    font-family: var(--font-family);
    height: 100%;
    text-align: center;
    width: 100%;
    font-weight: 200;
    /* overflow: hidden; */
}

body {
    overflow-x: hidden;
}

h1 {
    font-size: 2em;
}


h2 {
    font-size: 2em;
    font-weight: bold;
}

h3 {
    font-size: 1em;

}

.flexcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

b {
    font-weight: bold;
}

/* ________________________________________________________________________________________
Navigation - menu
-----------------------------------------------------------------------------------------*/


/* Styling of the menu button */
.nav-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: var(--menuBackground);
    text-align: center;
    /* border: 5px solid var(--menuFontColor); */


}

.nav-menu li a,
.nav-menu li {
    display: block;
    padding: 20px;
    text-decoration: none;
    color: var(--menuFontColor);
    font-family: var(--font-family);
    font-size: 18px;
}

.nav-menu li a:hover,
.nav-menu li:hover,
.nav-menu .menu-btn:hover {
    cursor: pointer;
    background-color: var(--menuHoverColor);
    color: var(--menuHoverFontColor);
}


/* menu */
.nav-menu .menu {
    clear: both;
    max-height: 0px;
    transition: max-height .2s ease-out;
}

/* menu icon */
.nav-menu .menu-icon {
    cursor: pointer;
    display: block;
    float: right;
    padding: 28px 20px;
    position: relative;
}

.nav-menu .navicon {
    background: var(--menuBackground);
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}

.nav-menu .navicon:before,
.nav-menu .navicon:after {
    background: var(--menuBackground);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.nav-menu .navicon:before {
    top: 5px;
}

.nav-menu .navicon:after {
    top: -5px;
}


/* .nav-menu .navicon:before~.menu ul,
.nav-menu .navicon:after~.menu ul {
    border: none;
} */

/* menu btn - how the three lines changes into an x*/
.nav-menu .menu-btn {
    display: none;
}

.nav-menu .menu-btn:checked~.menu {
    max-height: 540px;
}

.nav-menu .menu-btn:checked~.menu-icon .navicon {
    background: transparent;
}

.nav-menu .menu-btn:checked~.menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.nav-menu .menu-btn:checked~.menu-icon .navicon:after {
    transform: rotate(45deg);
}

.nav-menu .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
.nav-menu .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
    top: 0;
}


/* ________________________________________________________________________________________
Buttons
-----------------------------------------------------------------------------------------*/
.bigBtn {
    text-align: center;
}

.btn {
    border-radius: var(--border_radius);
    border: var(--border_dark);
    background: var(--secundary_color_dark);
    color: var(--menuFontColor);
    width: auto;
    margin: 1.5em auto 1em;
    height: auto;
    font-size: 1em;
    padding: .5em 1em;

    cursor: pointer;
}


.collectionOfItems {
    background: var(--secundary_color_light);
    width: var(--standardWidth);
    padding: 1em;
    border-radius: var(--border_radius);
    cursor: pointer;
    margin: 2em auto;
}

#home {
    display: block;
    margin: auto;
    position: absolute;
    top: 25%;
}

#warning {
    opacity: 80%;
    width: var(--standardWidth);
}


.page {
    display: none;
    /*min heigh is screen heigh minus height of tab and top bar */
    min-height: calc(100vh - 110px);
    background: var(--light-grey);
    animation: fadeIn 0.4s;
    /* padding equals height of tabbar and topbar */
    padding: 55px 0;
}

/* ---------- animations ---------- */
/* fade in */
@keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* ________________________________________________________________________________________
Input fields and select boxes
-----------------------------------------------------------------------------------------*/
.inputfield {
    width: 100%;
    padding: 1em;
    margin: .5em auto;
    display: block;
    background: var(--secundary_color_dark);
    color: var(--menuFontColor);
    border-radius: var(--border_radius_square);
    border: var(--border_dark);
    font-size: 1em;
}

.smallInputfield {
    width: 43%;
    padding: 1em;
    background: var(--secundary_color_light);
    color: var(--menuFontColor);
    border-radius: var(--border_radius_square);
    /* border: var(--border_li); */
    font-size: 1em;
}


/* ---------- loader styling ---------- */
#loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999999999;
    overflow: hidden;
    background: var(--loader-background-color);
    text-align: center;
}

.spinner {
    border: 5px solid var(--light-grey);
    border-radius: 50%;
    border-top: 5px solid var(--light-green);
    width: 50px;
    height: 50px;
    -webkit-animation: spin 1s linear infinite;
    /* Safari */
    animation: spin 1s linear infinite;
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.hide {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.4s, opacity 0.4s linear;
}

.displayNone {
    display: none;
}

.displayBlock {
    display: block;
    width: 100%;
}

/* ---------- authentication styling ---------- */
#firebaseui-auth-container {
    position: absolute;
    top: 50%;
    width: 100%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.firebaseui-container {
    font-family: var(--font-family);
    font: 16px var(--font-family);
}

.firebaseui-title {
    text-align: center;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.mdl-button--raised.mdl-button--colored,
.mdl-button--raised.mdl-button--colored:active,
.mdl-button--raised.mdl-button--colored:hover {
    background: var(--green);
    color: #fff;
    border-radius: 0;
}

.firebaseui-textfield.mdl-textfield .firebaseui-label::after {
    background-color: var(--green);
}

/* ________________________________________________________________________________________
liste
-----------------------------------------------------------------------------------------*/
ul {
    text-align: left;
}

/* ________________________________________________________________________________________
Pages
-----------------------------------------------------------------------------------------*/
#appendUserQuestions {
    margin: 2%;
}

#addedQuestionsArticle {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100vh;
    /* bottom: 0; */

    background-color: var(--secundary_color_light);
}

[for=addedQuestions] {
    position: absolute;
    z-index: 5;
    right: 2em;
}

/* -----siden med indstillinger*/

#myText {
    border-radius: 20, 20, 20, 20;
    box-shadow: 20px 20px 20px 20px rgba(144, 137, 137, .2);
}

.idButton {
    background-color: #45b88C; 
    border-radius: 3px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
  
    font-size: 12px;
    margin: 4px 2px;

  }



.b {
    display: block;
}

.myText {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 120px;
    height: 40px;
    border-radius: 100px;
    background-color: #ddd;
    margin: -20px -40px;
    overflow: hidden;
    box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, .05);
}


 #antalRunderTekst {
    position: absolute;
    top:60%;
    left: 40%;



}




/* slider med Antal runder */

  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .box-minmax {
    margin-top: 30px;
    width: 300px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    color: #ffffff;
  }
  .box-minmax span:first-child {
    margin-left: 10px;
  }
  
  .range-slider {
    margin-top: 30vh;
  }
  
  .rs-range {
    margin-top: 29px;
    width: 300px;
    -webkit-appearance: none;
  }
  .rs-range:focus {
    outline: none;
  }
  .rs-range::-webkit-slider-runnable-track {
    width: 100%;
    height: 1px;
    cursor: pointer;
    box-shadow: none;
    background: #ffffff;
    border-radius: 0px;
    border: 0px solid #010101;
  }
  .rs-range::-moz-range-track {
    width: 100%;
    height: 1px;
    cursor: pointer;
    box-shadow: none;
    background: #ffffff;
    border-radius: 0px;
    border: 0px solid #010101;
  }
  .rs-range::-webkit-slider-thumb {
    box-shadow: none;
    border: 0px solid #ffffff;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    height: 42px;
    width: 22px;
    border-radius: 22px;
    background: white;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -20px;
  }
  .rs-range::-moz-range-thumb {
    box-shadow: none;
    border: 0px solid #ffffff;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    height: 42px;
    width: 22px;
    border-radius: 22px;
    background: white;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -20px;
  }
  .rs-range::-moz-focus-outer {
    border: 0;
  }
  
  .rs-label {
    position: relative;
    transform-origin: center center;
    display: block;
    width: 40px;
    height: 40px;
    background: transparent;
    border-radius: 50%;
    line-height: 30px;
    text-align: center;
    font-weight: bold;
    padding-top: 0px;
    box-sizing: border-box;
    border: 2px solid #fff;
    margin-top: 20px;
    margin-left: -8px;
    left: attr(value);
    color: #fff;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 15px;
  }
  .rs-label::after {
    content: "Runder";
    display: block;
    font-size: 8px;
    letter-spacing: 0.07em;
    margin-top: -2px;
  }
  
  /* Slut slider med Antal runder */

/*__________ Toggle switch Sprog */



.toggleLang input {
    display: none;
 
   
}

/* The container and background */
.toggleLang {
    position: absolute;
    display: inline-block;
    width: 80px;
    height: 30px;

}

.sliderLang {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111;
    border: 1px solid #111;
    border-radius: 5px;
    transition: all 0.4s;
    

}

/* The sliding button */
.sliderLang:before {
    position: absolute;
    content: "da";
    width: 38px;
    height: 24px;
    left: 2px;
    top: 2px;
    background-color: #111;
    border-radius: 5px;
    transition: all 0.4s;
    

}

/* On checked */
input:checked + .sliderLang {
    background-color: #111;
}

input:checked + .sliderLang:before {
    transform: translateX(50px);
}

.sliderLang:after {
    position: absolute;
    content: "EN";
    top: 6px;
    right: 10px;
    color: #333;
    font-size:0.9em;
    font-family:sans-serif;


}

/* "ON" Text */
input:checked + .sliderLang:after {
    content: "DA";
    font-family:sans-serif;
    left: -30px;
    color: rgb(240, 246, 247);
    
}

.toggle input {
    display: none;
  
}

/* The container and background */
.toggle {
    position: relative;
    display: inline-block;
    width: 50px;
    
}

.sliderLang {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:rgb(242, 243, 243);
    border: 1px solid rgba(29, 150, 150, 0.133);
    border-radius: 30px;
    transition: all 0.4;                    
    opacity: 70%;
    
}

/* The sliding button */
.sliderLang:before {
    position: absolute;
    content: "";
    width: 24px;
    height: 24px;
    left: 2px;
    top: 2px;
    background-color: rgb(28, 31, 29);
    border-radius: 24px;
    transition: all 0.4s;
    
}

/* On checked */
input:checked + .sliderLang {
    background-color: #1222;
    background-color:  #80265D;
}

input:checked + .sliderLang:before {
    transform: translateX(50px);
  
}

/* Slut toggle switch Sprog */

.btnSettings {
    border-radius: var(--border_radius);
    border: var(--border_dark);
    background: var(--secundary_color_dark);
    color: var(--menuFontColor);
    width: auto;
    margin: 4em auto 1em;
    height: auto;
    font-size: 1em;
    padding: .5em 1em;

    cursor: pointer;
}

/*_________________________________________________________________________________________
GamePage
-----------------------------------------------------------------------------------------*/
.infoLabel {
    background-image: url(/img/Info_icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    /* position: absolute;
    top: 0;
    right: 10px; */
    width: 22px;
    height: 22px;
    width: auto;
    margin: 1.5em auto 1em;
    height: auto;
    font-size: 1em;
    padding: .5em 1em;
}

#addLabel {
    background-image: url(/img/plus_icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    bottom: 0;
    right: 10px;
    width: 22px;
    height: 22px;
}

#gameContainer {
    --n: 1;
    display: flex;
    align-items: center;
    overflow-y: hidden;
    width: 100%;
    width: calc(var(--n)*100%);
    height: 100vw;
    max-height: 100vh;
    transform: translate(calc(var(--i, 0)/var(--n)*-100%));
}

#gameContainer article {
    width: 100%;
    width: calc(100%/var(--n));
    user-select: none;
    pointer-events: none;
    height: 50vh;
    margin: .7%;
}

/* sandt eller falst */
.pfF2l2zwYDqcVCIjMlNr {
    background-color: tomato;
}

/* Quiz */
.MEF7ah2clInWlmgNpg6M {
    background-color: steelblue;
}

/* Jeg har aldrig... */
.LhhaSALqCbhu4upFC8l4 {
    background-color: palegreen;
}

/* Kategorien er... */
.mPfpbsdleHCjmhZhbUsQ {
    background-color: mediumpurple;
}

/* danshed eller konsekvens */
.vRD8Spl5fQ4AfTifPtRq {
    background-color: hotpink;
}

/* ________________________________________________________________________________________
Checkbox
-----------------------------------------------------------------------------------------*/

.label {
    display: block;
}

.checkbox {
    display: none;
}

.checkboxNotCheked {
    box-shadow: 0px 10px 14px -7px #276873;
    background: var(--font_color_light);
    border: 1px solid #cacece;
    color: #ffffff;
    padding: 1.2em .3em;
    border-radius: var(--border_radius_square);
    display: block;
    width: var(--standardWidth);
    margin: 0 auto;

}


.checkboxChecked {
    box-shadow: 0px 10px 14px -7px var(--secundary_color_dark);
    background: var(--secundary_color_dark);
    border: 1px solid #cacece;
    border-radius: var(--border_radius_square);
    width: var(--standardWidth);
    margin: 0 auto;
    /* box-shadow: --; */
}

#numberOfRoundsAdded {
    background: var(--secundary_color_dark);
    border-radius: var(--border_radius);
    color: var(--menuFontColor);
    /* width: 1em; */
    /* transition-property: width;
    transition-duration: 2s;
    transition-timing-function: linear;
    transition-delay: 1s; */
}

/* .highlightTransition {
    width: 4em;
}

#numberOfRoundsAdded {
    margin: 30px;
    height: 50px;
    width: 50px;
    background-color: blue;
} */

#numberOfRoundsAdded {
    /* -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s; */
    animation: addContentNumberHighlight 0.5s 1;
    animation-timing-function: ease-in-out;
    /* IE 10+, Fx 29+ */
    /* margin-left: 50% !important; */
    /* background-color: var(--secundary_color_light); */
}

@keyframes addContentNumberHighlight {
    0% {

        background-color: var(--secundary_color_light);
    }

    50% {
        background-color: yellow;
        color: var(--secundary_color_dark);
    }

    100% {
        background-color: var(--secundary_color_light);
    }
}