/* css variables */
:root {
    /* Color */
    --menuBackground: #333;
    --menuFontColor: #FBEBF8;
    --menuHoverColor: var(--secundary_color_light);
    --menuHoverFontColor: #041a1f;
    --background: rgb(115, 247, 144);
    --secundary_color_light: #EA81C1;
    --secundary_color_dark: #80265D;

    /* #b238b3 ok lilla */
    /* #b35c9f lilla */
    /* --menuBackground: #333 */
    /*  --menuFontColor: #FBEBF8; */
    /* --menuHoverFontColor: #041a1f; */
    /* --secundary_color_dark: #440c37; */
    /* --background: #26803A; */
    /* Font */
    --font-family: 'Myriad Pro', Arial, sans-serif;
}

html {
    background-color: var(--background);
}
.flexcontainer {
    display: flex;
    flex-wrap: wrap;
}

/* ________________________________________________________________________________________
Navigation - menu
-----------------------------------------------------------------------------------------*/


/* Styling of the menu button */
.nav-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: var(--menuBackground);
    text-align: center;
    border: 5px solid var(--menuFontColor);


}

.nav-menu li a {
    display: block;
    padding: 20px;
    text-decoration: none;
    color: var(--menuFontColor);
    font-family: var(--font-family);
    font-size: 18px;
}

.nav-menu li a:hover,
.nav-menu .menu-btn:hover {
    background-color: var(--menuHoverColor);
    color: var(--menuHoverFontColor);
}


/* menu */
.nav-menu .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

/* menu icon */
.nav-menu .menu-icon {
    cursor: pointer;
    display: block;
    float: right;
    padding: 28px 20px;
    position: relative;
}

.nav-menu .navicon {
    background: var(--menuBackground);
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}

.nav-menu .navicon:before,
.nav-menu .navicon:after {
    background: var(--menuBackground);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.nav-menu .navicon:before {
    top: 5px;
}

.nav-menu .navicon:after {
    top: -5px;
}


/* menu btn - how the three lines changes into an x*/
.nav-menu .menu-btn {
    display: none;
}

.nav-menu .menu-btn:checked~.menu {
    max-height: 240px;
}

.nav-menu .menu-btn:checked~.menu-icon .navicon {
    background: transparent;
}

.nav-menu .menu-btn:checked~.menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.nav-menu .menu-btn:checked~.menu-icon .navicon:after {
    transform: rotate(45deg);
}

.nav-menu .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
.nav-menu .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
    top: 0;
}


/* ________________________________________________________________________________________
Buttons
-----------------------------------------------------------------------------------------*/
/* .bigBtn{} */